.case-content {
  display: flex;
}

.cases-container {
  padding: 20px;
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.cases-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #313b4e;
  width: 150px;
}

.case-description {
  color: #788197;
  max-width: 80%;
}

.case-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.evidence-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #313b4e;
  border-radius: 10px;
  background-color: #161a23;
  width: 50%;
}

.case-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

.text-content {
  display: flex;
  background: #161a23;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #313b4e;
  margin: 5px;
  color: #788197;
  font-size: 14px;
}

.text-content a {
  color: #788197;
}

.case-card {
  transition: transform 0.3s;
}

.case-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.case-details p {
  font-size: 16px;
  margin-bottom: 20px;
}

.id-label {
  font-size: 12px;
  color: #788197;
  bottom: 10px;
  left: 10px;
}

.back-link:hover {
  background-color: #1c1d1d;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-title {
  font-size: 5em;
  font-family: Futura;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.error-code {
  font-size: 5em;
  font-family: Futura;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0;
}

.button-container button:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .cases-container {
    max-width: 90%;
    margin-top: 20px;
    padding: 10px;
  }

  .cases-container h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .case-content {
    display: inline-block;
  }

  .case-details {
    border-right: none;
    width: 100%;
    padding: 10px;
  }

  .evidence-container {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 10px;
  }

  .evidence-container video {
    max-width: 100%;
    height: auto;
  }
}
