.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #161a23;
  color: white;
  box-shadow: 2px 6px 12px 0px #000000;
}

.center-content {
  flex: 1;
  text-align: center;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  font-size: 36px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-button {
  background-color: #0d0f14;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
  background-color: rgba(31, 37, 51, 0.659);
  color: #fff;
  text-shadow: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.navbar li {
  margin: 0;
}

a:visited {
  color: #fff;
}

.left-content, .right-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.brand:hover .logo-text {
  color: rgb(165, 18, 18);
  animation: colorCycle 5s infinite alternate;
}

.left-content .nav-button{
  margin-left: 20px;
  flex: auto;
  justify-content: space-around;
}

.left-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes colorCycle {
  0% {
    color: white;
  }
  50% {
    color: rgb(165, 18, 18);
  }
  100% {
    color: white;
  }
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .center-content {
    margin-left: 0;
  }

  .navbar ul {
    gap: 10px;
  }

  .navbar a {
    font-size: 16px;
  }

  .brand {
    font-size: 24px;
    margin-right: 0px;
    display: flex;
    flex: 1;
    order: 1;
    justify-content: center;
    margin: 0 auto;
  }

  .left-content {
    flex-direction: column;
  }

  .left-content, .right-content {
    justify-content: center;
    align-items: center;
    margin: 0 ;    justify-content: center;
    align-items: center;
    margin: 0 ;
  }

  .left-content .nav-button {
    flex: 3;
    order: 4;
    justify-content: center;
    align-items: center;
    margin: 0 ;
  }
  
  .nav-button {
    margin-top: 5px;
    width: 168px;
  }

  .right-content {
    display: flex;
    order: 3;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .discord-button {
    order: 4;
  }
}
