body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #fff;
  background-color: #2b2620;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, a, strong, small, .sign-in {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a{
  color: #fff;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.center-content {
  flex: 1;
  text-align: center;
  margin-left: 80px;
}

.logo-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 36px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 1;
}

.navbar li {
  margin: 0;
}

a:visited {
  color: #fff;
}

.navbar:hover .logo-text {
  color: rgb(165, 18, 18);
  animation: colorCycle 5s infinite alternate;
}

@keyframes colorCycle {
  0% {
    color: white;
  }
  50% {
    color: rgb(165, 18, 18);
  }
  100% {
    color: white;
  }
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

#submit {
  color: white;
}

#submit:hover {
  text-shadow: 0 0 5px rgb(112, 14, 14);
}

#resolve {
  color: white;
}

#resolve:hover {
  text-shadow: 0 0 5px rgb(0, 165, 0);
}

.sign-in {
  background-color: transparent;
  border: 2px solid rgb(85, 85, 85);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 768px) {
  .App__header {
    padding: 10px;
  }

  .center-content {
    margin-left: 0;
  }

  h1 {
    font-size: 24px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar ul {
    gap: 10px;
  }

  .navbar a {
    font-size: 16px;
  }

  .sign-in {
    background-color: transparent;
    border: 2px solid rgb(85, 85, 85);
    padding: 10px 20px;
    font-weight: bold;
  }
}
