.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}

.modal-content {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  padding-right: 35px;
  color: #fff;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-button,
.submit-button {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button:hover,
.submit-button:hover {
  background-color: #333;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  border-radius: 10px;
  max-width: 95%;
  padding: 20px;
  color: #fff;
  z-index: 1001;
  display: none;
}

.modal-open {
  display: block;
}

.modal-closed {
  display: none;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-input,
.modal-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: #000;
}

.modal-input[type="file"] {
  display: none;
}

.modal-input-file {
  position: relative;
}

.modal-input-file label {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}

.modal-input-file .selected-file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.modal-input-file .selected-file-name span {
  font-weight: bold;
}

.modal-input-file label:hover {
  background-color: #0056b3;
}

textarea {
  resize: none;
}

.modal-textarea#description {
  height: 150px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.remove-items-button {
  margin-left: 5px;
}

.custom-file-input-label, .add-items-button, .remove-items-button {
  background-color: #444;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
  text-align: center;
}

.custom-file-input-label:hover, .add-items-button:hover, .remove-items-button:hover {
  background-color: #555;
}

.custom-file-input {
  display: none;
}

.selected-files {
  margin-top: 10px;
}

.selected-file {
  background-color: #222;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.selected-item {
  background-color: #222;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.selected-file:hover {
  background-color: #555;
}

.selected-item:hover {
  background-color: #555;
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: #888;
}


.close-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    max-width: 100%;
    padding: 10px;
    padding-right: 20px;
    color: #fff;
  }

  .modal-buttons {
    flex-direction: column;
    margin-top: 10px;
  }

  .cancel-button,
  .submit-button {
    width: 100%;
    margin: 5px 0;
  }

  .modal {
    max-width: 95%;
    padding: 10px;
  }

  .modal-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .modal-input,
  .modal-textarea {
    width: 100%;
    padding: 5px;
  }

  .close-button {
    top: 5px;
    right: 5px;
    font-size: 20px;
  }
}
