.player-card {
  margin: 20px 10%;
  padding: 20px;
  background-color: #493f35;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-in-out;
  max-width: 80%;
}

.player-card h1 {
  text-align: center;
  color: #fff;
}

.caseTitle {
  color: #fff;
  display: flex;
  justify-content: center;
}

.case-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin: 0px auto;
  overflow-x: hidden;
  max-width: 80%;
  overflow: visible;
  border-radius: 10px;
  padding-bottom: 20px;
}

.case-card {
  flex: 0 0 auto;
  width: 300px;
  cursor: pointer;
  margin: 10px 15px 10px 5px;
  padding: 20px;
  background-color: #493f35;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-in-out;
}

.case-card h2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.case-card small {
  color: gray;
  font-size: 10px;
}

.case-card p {
  font-size: 16px;
  color: #fff;
}

.case-card .evidence-meter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.case-card .evidence-bar {
  flex-grow: 1;
  height: 10px;
  margin-right: 5px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
}

.case-card .evidence-bar-fill {
  height: 100%;
  border-radius: 5px;
}

.case-card h3 {
  display: flex;
  align-items: center;
}

.case-title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #fff;
}

.back-link {
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}
