.search-bar-container {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin: 20px auto;
}

.search-results a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ul.search-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

ul.search-results li:nth-child(even) {
  background-color: #f8f8f8;
}

ul.search-results li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: Arial, sans-serif;
}

ul.search-results li:hover {
  background-color: #f2f2f2;
}

ul.search-results:empty {
  display: none;
}
