.ticker {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.ticker-left,
.ticker-right {
  width: 45%;
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 5px var(--primary-shadow);
  animation: fadeInUp 1s ease-in-out;
  border: 1px solid var(--border-color);
}

.ticker-svg {
  float: right;
  margin-right: 10px;
}

.ticker-left h2,
.ticker-right h2 {
  text-align: center;
}

.ticker-left {
  margin-right: 10px;
}

.ticker-data {
  margin-top: 10px;
}

.ticker-entry {
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.5s ease-out;
  border-left: 3px solid var(--ticker-bg-color);
  background-color: var(--ticker-bg-color);
  border: 1px solid var(--border-color);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 45px;
  overflow: hidden;
  opacity: 1;
}

.ticker-entry.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ticker-entry:hover {
  color: var(--text-color);
  background-color: var(--ticker-hover-bg-color);
}

.ticker-entry:first-child {
  margin-top: 0;
}

.ticker-entry:last-child {
  margin-bottom: 0;
}

.ticker-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--name-color);
}

.ticker-offence,
.ticker-amount {
  font-size: 16px;
  margin: 0;
}

.ticker-offence {
  margin-bottom: 5px;
}

.ticker-items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ticker-entry.expanded .ticker-items {
  max-height: 100px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ticker-entry.expanded {
  max-height: 150px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ticket-left .ticket-gp {
  color: var(--name-color);
}

@media (max-width: 768px) {
  .ticker {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }

  .ticker-left,
  .ticker-right {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ticker-left h2,
.ticker-right h2 {
  text-shadow: -1px -1px 0 var(--border-color), 1px -1px 0 var(--border-color), -1px 1px 0 var(--border-color), 1px 1px 0 var(--border-color);
  text-align: center;
}

.ticker-left h2 {
  color: var(--name-color);
}

.ticker-right h2 {
  color: var(--ticker-right-h2-color);
}
