.ticker {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.ticker-left,
.ticker-right {
  width: 45%;
  background-color: #1f1f1f;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-in-out;
  border: 1px solid black;
  overflow: hidden;
  max-height: 1050px;
  margin-bottom: 50px;
}

.ticker-svg {
  float: right;
  margin-right: 10px;
}

.ticker-left h2,
.ticker-right h2 {
  text-align: center;
}

.ticker-left {
  margin-right: 10px;
}

.ticker-data {
  margin-top: 10px;
}

.ticker-entry {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-left: 3px solid #2e2e2e;
  background-color: #2e2e2e;
  border: 1px solid black;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.3s ease, background-color 0.3s ease-in-out;
}

.ticker-entry:hover {
  color: #ccc;
  background-color: #474747;
}

.ticker-entry:first-child {
  margin-top: 0;
}

.ticker-entry:last-child {
  margin-bottom: 0;
}

.ticker-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.ticker-left .ticker-name {
  color: red;
}

.ticker-offence,
.ticker-amount {
  font-size: 16px;
  margin: 0;
  transition: color 0.5s ease-out;
}

.ticker-offence {
  margin-bottom: 5px;
}

.view-case-button {
  background-color: #19191a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #222222;
  }
}

@media (max-width: 768px) {
  .ticker {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }

  .ticker-left,
  .ticker-right {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ticker-left h2,
.ticker-right h2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.ticker-left h2 {
  color: red;
}

.ticker-right h2 {
  color: #00ff00;
}

.ticker-left .ticker-gp {
  color: red;
}

.ticker-entry.expanded {
  max-height: 1000px;
  background-color: #474747;
}

.ticker-entry.expanded:hover {
  background-color: #474747;
}

.ticker-entry.expanded,
.ticker-entry.collapsed {
  transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.ticker-entry.expanded:hover {
  color: #ccc;
}
